.page-heading {
    background: #fff !important;
    /* background-position: center center; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding: 100px 0px 100px 20px;
}
  
.page-heading h4 {
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
  
.page-heading h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.page-heading .border-button a {
    border-color: #fff;
    color: #fff;
}

.page-heading .border-button a:hover {
    border-color: #0b1628;
}

.amazing-deals {
    margin-top: 120px;
    background: #fff;
}

.amazing-deals .item .image {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    /* overflow: hidden; */
}

.amazing-deals .item {
    background-color: #f7f7f7;
    /* border-radius: 23px; */
    /* padding-right: 30px; */
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
}

.amazing-deals .item span.info {
    color: #0b1628;
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
}

.amazing-deals .item h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.amazing-deals .item i {
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

.amazing-deals .item span.list {
    font-size: 15px;
    /* color: #afafaf; */
    color: #000;
    font-weight: 500;
}

.amazing-deals .item .content {
    padding: 30px 0px;
}

.amazing-deals .item p {
    padding-top: 25px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}

.amazing-deals ul.page-numbers {
    text-align: center;
    margin-top: 30px;
}

.amazing-deals ul.page-numbers li {
    display: inline-block;
    margin: 0px 5px;
}

.amazing-deals ul.page-numbers li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 1px solid #0b1628;
    line-height: 44px;
    color: #0b1628;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    transition: all .3s;
}

.amazing-deals ul.page-numbers li.active a,
.amazing-deals ul.page-numbers li a:hover {
    background-color: #0b1628;
    color: #fff;
}

.amazing-deals ul.page-numbers li:first-child a,
.amazing-deals ul.page-numbers li:last-child a {
    border: none;
}
/* Bootones */
.main-button-alert {
    margin-top: 20px;
    margin-right: 0;
    float: right;
}

.main-button-alert a {
    font-size: 14px;
    color: #fff;
    background-color: #efb489;
    border: 1px solid #efb489;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
  
.main-button-alert a:hover {
    background-color: #f1a36b;
    /* opacity: 1; */
    color: #ffffff;
    border: 1px solid #fff;
}


.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}