
/* 
---------------------------------------------
Home Page Style
--------------------------------------------- 
*/

.page-heading {
    background-image: url(../images/heading-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0px 190px 0px;
    text-align: center;
  }
  
  .page-heading h4 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .page-heading h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .page-heading .border-button a {
    border-color: #fff;
    color: #fff;
  }
  
  .page-heading .border-button a:hover {
    border-color: #0b1628;
  }
  
  .search-form #search-form {
    background-color: #ffffff;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    padding: 35px 60px;
  }
  
  .search-form #search-form h4 {
    color: #0b1628;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .search-form #search-form select {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #0b1628;
    border-radius: 0px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
  }
  
  .search-form #search-form option {
    background-color: #0b1628;
  }
  
  .search-form #search-form button {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #0b1628;
    background-color: transparent;
    border: 1px solid #0b1628;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }
  
  .search-form #search-form button:hover {
    background-color: #0b1628;
    color: #ffffff;
  }
  
  .amazing-deals {
    /* margin-top: 120px; */
    background: #fff;
  }
  
  .amazing-deals .item .image {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    /* overflow: hidden; */
  }
  
  .amazing-deals .item {
    background-color: #f7f7f7;
    /* border-radius: 23px; */
    /* padding-right: 30px; */
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
  }
  
  .amazing-deals .item span.info {
    color: #0b1628;
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
  }
  
  .amazing-deals .item h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .amazing-deals .item i {
    color: rgb(0, 0, 0);
    margin-right: 5px;
  }
  
  .amazing-deals .item span.list {
    font-size: 15px;
    /* color: #afafaf; */
    color: #000;
    font-weight: 500;
  }
  
  .amazing-deals .item .content {
    padding: 30px 0px;
  }
  
  .amazing-deals .item p {
    padding-top: 25px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
  }
  
  .amazing-deals ul.page-numbers {
    text-align: center;
    margin-top: 30px;
  }
  
  .amazing-deals ul.page-numbers li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  .amazing-deals ul.page-numbers li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 1px solid #0b1628;
    line-height: 44px;
    color: #0b1628;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    transition: all .3s;
  }
  
  .amazing-deals ul.page-numbers li.active a,
  .amazing-deals ul.page-numbers li a:hover {
    background-color: #0b1628;
    color: #fff;
  }
  
  .amazing-deals ul.page-numbers li:first-child a,
  .amazing-deals ul.page-numbers li:last-child a {
    border: none;
  }